body{
    font-family:serif;
}

.header{
    background:crimson;
    height: 100px;
}
.header-logo{
    background-color:crimson;
    font-family:serif;
    font-size:40px;
    color:white;
    padding:30px;
}

.main{
    background-color:antiquewhite;
    height:500px;
}
.explanation{
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
}
.text1{
    font-size:20px;
    list-style:none;
}
.text2{
    font-size:15px;
}

.footer{
    background-color:firebrick;
    height:60px;
}
.footer-logo{
    color:white;
    font-size:24px;
    float:left;
    padding-left:30px;
    padding-top:18px;
}
